a {
  color: white;
}

button {
  background: #EEECEC;
  border: none;
  border-radius: 5px;
  margin: 8px;
  padding: 5px 10px;
}

h3 {
  margin: 20px;
}

input {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 12px 22px;
  width: 260px;
}

select {
  border: 1px solid #547491;
  border-radius: 5px;
  font-weight: 600;
  margin: 25px;
  padding: 10px 20px;
}

table {
  border: 20px;
  margin: 80px;
  max-width: 70%;
  width: 100%;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px
}

.app {
  text-align: center;
}

.menu {
  background: #547491;
  display: flex;
  font-size: 25px;
  margin-bottom: 50px;
  padding: 25px;
}

.menuLink {
  width: 50%;
}

.newButton {
  background: #d0c9c9;
  border-radius: 4px;
  font-weight: 800;
  padding: 10px 20px;
  margin-top: 40px;
}

.saveButton {
  background: #dce0e4;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
}

.title {
  margin: 40px;
}
